<!DOCTYPE html>
<html lang="en">
<!-- head.ejs partial -->
<%- include("./partials/head.ejs") %>

    <body>
        <!-- header.ejs partial -->
        <%- include("./partials/header.ejs") %>
        <div class="encloserOne">
            <div class= refBtn>
                <a href="/">
                    <button class="btn btn-secondary">Logout</button>
                </a>
                <a href="/workflow/new">
                    <button class="btn btn-primary">Create New</button>
                </a>
            </div>
            <div class="welcomeMsg">
                <p>Welcome <%= user %></p>
            </div>
    </div>
            <main>
                <div>
                    <table class="table">
                        <tr>
                            <th>Customer:</th>
                            <th>Unit #:</th>
                            <th>Bay #:</th>
                            <th>Status:</th>
                            <th>Last Update:</th>
                        </tr>
                        <% for (el of wOrder) { %>
                            <tr>
                                <td>
                                    <%= el.customer %>
                                </td>
                                <td><a href="/workflow/<%= el._id %>">
                                        <%= el.unitNo %>
                                    </a></td>
                                <td>
                                    <%= el.bayNo %>
                                </td>
                                <td>
                                    <%= el.woStatus %>
                                </td>
                                <td>
                                    <%= el.updatedAt.toDateString() %>
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
            </main>
    </body>

</html>